version: "3.8"

services:
  api_test:
    build:
      context: .
      dockerfile: docker/Dockerfile
    container_name: api_test_platform
    environment:
      PYTHONUNBUFFERED: "1"
      TZ: "Asia/Shanghai"
    volumes:
      - ./data/api_auto:/app/data/api_auto    # 测试数据
      - ./tests:/app/tests                    # 测试用例
      - ./data/reports:/app/data/reports      # 保存 allure 报告
      - ./config:/app/config                  # 配置文件
      - ./data/log:/app/data/log              # 日志文件
    working_dir: /app
    command: ["-t", "api", "-c", "tests/test_api.py", "--alluredir", "/app/data/reports/allure-results"]